# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore media uploads
media/
coldwell/media/

# Ignore logs
*.log
gunicorn.log

# Ignore static files
staticfiles/

# Ignore environment files
.env